/* 基礎重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F2E8D5;
  /*background-color: #FFF5E0;*/
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: #593B34;
  font-family: "PingFang TC", "Microsoft JhengHei", sans-serif;
  min-height: 100vh;
  margin: 0;
}

.navbar{
  background-color: #593B34; /* 深褐色背景 */
  height: 60px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo{
  color: #FFF5E0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav_links{
  list-style: none;         /* 移除點點 */
  display: flex;            /* 讓清單項目橫著排 */
  gap: 30px;
}

.nav_links a{
  text-decoration: none;
  color: #FFF5E0;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
  transition: all 0.3s ease;
  position: relative;
}

/* .nav_links a.active{
  color: #D4A373;
}

.nav_links a.active::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D4A373;
} */

.nav_links a:hover{
  color: #D4A373;
}

#menu_control{
  display: none;
}

.menu_btn{
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.menu_btn span{
  display: block;
  width: 25px;
  height: 3px;
  background-color: #FFF5E0;
  border-radius: 3px;
  transition: 0.3s;
}

/* ------------------------------------------- */
/* 6. 響應式設定 (Mobile) */
/* ------------------------------------------- */
@media (max-width: 768px) {
  .navbar{
    padding: 0, 20px;
  }
  
  /* 顯示漢堡圖示 */
  .menu_btn{
    display: flex;
  }

  /* 把選單改成垂直抽屜式 */
  .nav_links{
    position: absolute;
    top: 60px; /* 從導覽列下方開始 */
    left: 0;
    width: 100%;
    background-color: #593B34;
    flex-direction: column;
    align-items: center;
    gap: 0;

    /* 預設高度為 0 且隱藏溢出內容 */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  .nav_links li{
    width: 100%;
    text-align: center;
  }

  .nav_links a{
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #FFF5E020;
  }

  #menu_control:checked ~ .nav_links {
    max-height: 300px; /* 設定一個足夠撐開內容的高度 */
  }

  #menu_control:checked ~ .menu_btn span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #menu_control:checked ~ .menu_btn span:nth-child(2) {
    opacity: 0;
  }
  #menu_control:checked ~ .menu_btn span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  max-width: 300px;
  width: 100%;
  background-color: #F2E8D5;
  background-color: #FFF5E0;
  padding: 30px;
  /*border: 1.5px solid #593B34;*/
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(89, 59, 52, 0.1);
  
  transition: all 0.3s ease;
}

.card:hover{
  box-shadow: 0 20px 40px rgba(89, 59, 52, 0.2);
  transform: translateY(-10px);
}

.img_container{
  height: 180px;
  background-color: #F2E8D5;
  border-radius: 10px;
  margin-bottom: 15px;
  
  overflow: hidden;
}

.img_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition: transform 0.5s ease;
}

.card:hover .img_container img{
  transform: scale(1.1);
}

.card-title{
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 10px;
}

.description{
  font-size: 14px;
  color: #866C5F;
  line-height: 1.5;
}

/*.card-btn{
  width: 100%;
  background-color: #593B34;
  color: #FFF5E0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  
  transition: all 0.2s ease;
}

.card-btn:hover{
  background-color: #866C5F;
}*/

.card-btn {
  width: 100%;
  background-color: transparent;
  color: #593B34;
  padding: 10px;
  border: 2px solid #593B34;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  
  transition: all 0.2s ease;
}

.card-btn:hover {
  background-color: #593B34;
  color: #FFF5E0;
}

.card-btn:active{
  transform: scale(0.95);
}